# Análises e transformações dos dados
- **Este notebook visa analisar os dados utilizados para realização do trabalho final da disciplina de cálculo numérico**
- **Serão realizadas transformações necessárias nos dados para ser possível criar visualizações diferentes no Dashboard.**
    -   A primeira mudança realizada é a criação de uma coluna nomeada "fonte", ao qual vai informar a fonte do dado, ou seja, a base metereológica que capturou aquele dado

#### Lendo e exibindo dados

In [1]:
# Imports utilitários
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Lendo e exibindo cabeçalho dos dados
dados = pd.read_csv("./data/DadosEscolhidos.csv")
dados.head()

,Category,NOAA National Climatic Data Center,NASA Goddard Institute for Space Studies,Japanese Meteorological Agency,Met Office Hadley Centre/Climatic Research Unit
0,1880.0,-0.20,-0.17,NaN,-0.25
1,1881.0,-0.16,-0.09,NaN,-0.17
2,1882.0,-0.16,-0.11,NaN,-0.23
3,1883.0,-0.25,-0.18,NaN,-0.28
4,1884.0,-0.34,-0.28,NaN,-0.43

In [33]:
dados['NOAA National Climatic Data Center'] = dados['NOAA National Climatic Data Center'].astype(float)
dados['NASA Goddard Institute for Space Studies'] = dados['NASA Goddard Institute for Space Studies'].astype(float)
dados['Japanese Meteorological Agency'] = dados['Japanese Meteorological Agency'].astype(float)
dados['Met Office Hadley Centre/Climatic Research Unit'] = dados['Met Office Hadley Centre/Climatic Research Unit'].astype(float)

# Use a função melt para transformar as colunas de fontes em linhas
df_melted = pd.melt(dados, id_vars=['Category'], var_name='Fonte', value_name='Valor')

# Transforma a coluna category em dados do tipo int
df_melted['Category'] = df_melted['Category'].astype(int)
df_melted['Valor'] = df_melted['Valor'].astype(float)

# Renomeando coluna category para ano.
df_melted.rename(columns={'Category': 'Ano'}, inplace=True)

# Definindo formato decimal para a coluna valor, 4 casas decimais
formato_decimal = "{:.4f}"

# Exiba o DataFrame resultante
df_melted.to_csv("./data/dados_transformados.csv", float_format='%.2f', decimal='.')

### Separando dados em 4 tabelas

In [3]:
dados_noaa = dados[['Category', 'NOAA National Climatic Data Center']]
dados_nasa = dados[['Category', 'NASA Goddard Institute for Space Studies']]
dados_jma = dados[['Category', 'Japanese Meteorological Agency']]
dados_met_office = dados[['Category', 'Met Office Hadley Centre/Climatic Research Unit']]

dados_noaa.to_csv('./data/dados_noaa.csv')
dados_nasa.to_csv('./data/dados_nasa.csv')
dados_jma.to_csv('./data/dados_jma.csv')
dados_met_office.to_csv('./data/dados_met_office.csv')

# Análise de outliers